<% if (logged==false){ %>
<div class="alert alert-info">
    <strong class="bg-info">Log in to access the chat. <br>
        Or sign up if you don`t have a profile!</strong>
</div>
<% } else { %>
<div class="alert alert-success">
    <strong>You are logged in and you can use the chat now. </strong>
</div>

<% } %>